<!DOCTYPE html>
<html>
<head>
  <title>Bigos</title>
  <%= stylesheet_link_tag    "bigos/application", :media => "all" %>
  <%= javascript_include_tag "bigos/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
